$light-blue: #c6f7ff;
$blue: #86c3d7;
$dark-blue: #60aacc;
$black: #000;
$light-black: #151515;
$light-black-icon: #2e2e2d;
$white: #fff;
$green: #365a49;
$dark-grey: #363636;
$grey: #666666;
$grey-border-contain-info: #eeeeee;
$light-grey-bg: #f2f5f4;
$light-grey: #f3f5f3;
$light-light-grey: #f8faf9;
$biruse: #d2ddd9;
$yellow: #dee2bd;
$black-bg: #333537;
$green-btn-hover: #2e4e3f;

$z-fixed-menu: 10;
$z-hamburger: 15;
$z-header: 20;
$z-bef-af-section: 10;
$z-bef-af-first-content: 3;
$z-first-column: 12;
$z-menu-acc: 4;
$z-menu-name: 6;
$z-menu-name-before: 5;
$z-menu__item--active: 8;
$z-content: 11;
$z-bg-image-review: 3;
$z-title-reviews: 8;
$z-form: 10;
$z-review-avatar: 5;
$z-chocco-content: 15;
$z-chocco-arrow: 16;
$z-player: 20;
$z-why-desc: 20;
$z-slide-item: 20;

// @import "./_misc/normalize.scss";
// @import "./_misc/media.scss";
// @import "./_misc/fonts.scss";
// @import "./_misc/layout.scss";
// @import "./_misc/mixins.scss";

@import "blocks/*.scss";
// @import "./blocks/header.scss";
// @import "./blocks/nav.scss";
// @import "./blocks/phones.scss";
// @import "./blocks/hamburger-menu.scss";
// @import "./blocks/hamburger.scss";
// @import "./blocks/fixed-menu.scss";
// @import "./blocks/first.scss";
// @import "./blocks/title.scss";
// @import "./blocks/btn.scss";
// @import "./blocks/features.scss";
// @import "./blocks/feature.scss";
// @import "./blocks/why.scss";
// @import "./blocks/why-desc.scss";
// @import "./blocks/chocco.scss";
// @import "./blocks/arrow-icon.scss";
// @import "./blocks/slider.scss";
// @import "./blocks/slide.scss";
// @import "./blocks/contain.scss";
// @import "./blocks/boun-icon.scss";
// @import "./blocks/contain-icon.scss";
// @import "./blocks/close-icon.scss";
// @import "./blocks/team.scss";
// @import "./blocks/menu.scss";
// @import "./blocks/reviews.scss";
// @import "./blocks/review.scss";
// @import "./blocks/how-work.scss";
// @import "./blocks/player.scss";
// @import "./blocks/splash-icon.scss";
// @import "./blocks/volume-icon.scss";
// @import "./blocks/order.scss";
// @import "./blocks/form.scss";
// @import "./blocks/check.scss";
// @import "./blocks/contacts.scss";
// @import "./blocks/map.scss";
// @import "./blocks/footer.scss";
// @import "./blocks/address.scss";
// @import "./blocks/phone.scss";
// @import "./blocks/network.scss";
// @import "./blocks/vk.scss";
// @import "./blocks/fb.scss";
// @import "./blocks/inst.scss";
// @import "./blocks/tw.scss";
// @import "./blocks/error.scss";
// @import "./blocks/overlay.scss";