.bounce {
  position: absolute;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  &-blur {
    &-1 {
      background-color: $bounce-turquoise;
      filter: blur(rem(20px));
      width: rem(170px);
      height: rem(170px);
      bottom: -10%;
      left: 25%;
      z-index: $z-move-bounce-blur-1;
      @include keyframesBounBlur1(25%,-10%);
    }
    &-2 {
      background-color: $bounce-yellow;
      filter: blur(rem(60px));
      width: rem(360px);
      height: rem(360px);
      bottom: 58%;
      left: 19%;
      z-index: $z-move-bounce-blur-2;
      @include keyframesBounBlur2(19%,58%);

    }
    &-3 {
      background-color: $bounce-lilac;
      filter: blur(rem(50px));
      width: rem(430px);
      height: rem(430px);
      bottom: 5%;
      left: 40%;
      z-index: $z-move-bounce-blur-3;
      @include keyframesBounBlur3(19%,58%);
    }
  }
  &-img {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("./../../img/bg/bg-mask.png");
    }
    &-1 {
      width: rem(42px);
      height: rem(42px);
      bottom: 5%;
      left: 95%;
      z-index: $z-move-bounce-img-1;
      @include keyframesBounImg1(95%,5%);
      &::after {
        background-position-x: 10%;
        background-position-y: 82%;
      }
    }
    &-2 {
      width: rem(67px);
      height: rem(67px);
      bottom: 90%;
      left: 70%;
      z-index: $z-move-bounce-img-2;
      @include keyframesBounImg2(70%,90%);
      &::after {
        background-position: 37% 73%;
        background-size: 242% 405%;
        transform: rotate(185deg);
      }
    }
    &-3 {
      width: rem(120px);
      height: rem(120px);
      bottom: 40%;
      left: 55%;
      z-index: $z-move-bounce-img-3;
      @include keyframesBounImg3(55%,40%);
      &::after {
        background-position: 24% 73%;
        background-size: 198% 219%;
        transform: rotate(185deg);
      }
      &.animRun {
        transform: rotate(-60deg);
        // animation-duration: 20s;
        // left: -30%;
        // transition: .6s ease-out;

        &::after {
        // transform: rotate(90deg);
        }
      }
    }
    &-4 {
      width: rem(266px);
      height: rem(266px);
      bottom: 55%;
      left: 65%;
      z-index: $z-move-bounce-img-4;
      @include keyframesBounImg4(65%,55%);
      &::after {
        background-position: 51% 37%;
        background-size: 324% 193%;
        transform: rotate(4deg);
      }
    }
    &-5 {
      width: rem(594px);
      height: rem(594px);
      bottom: 85%;
      left: 25%;
      z-index: $z-move-bounce-img-5;
      @include keyframesBounImg5(25%,85%);
      &::after {
        background-size: 130% 122%;
        transform: rotate(-179deg);
        background-position-x: 59%;
        background-position-y: 114%;
      }
    }
  }
  @include desctop {
    transform: scale(.7);
  }
}