.btn {
  @include alegreya-sans(extrabold);
  font-size: rem(19px);
  padding: rem(20px) rem(35px);
  background-color: $white;
  color: $green;
  text-transform: uppercase;
  border-radius: rem(30px);
  display: flex;
  cursor: pointer;
  transition: .6s;
  outline: none;

  &--bg-green {
    background-color: $green;
    color: $white;
  }

  &--transp {
    background-color: transparent;
    color: $green;
  }

  &:hover {
    background-color: $green;
    color: $white;
  }
}