.check__checkbox {
  display: none;

  &:checked {
    
    & ~ .check__title {
      color: $green;
      & .check__icon {
        display: block;
      }
      &::before {
        border-color: $yellow;
      }
    }
  }
}

.check__title {
  @include alegreya-sans(normal);
  font-size: rem(18px);
  display: flex;
  flex-direction: row;
  color: $green;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    flex-shrink: 0;
    margin-right: rem(10px);
    width: rem(26px);
    height: rem(26px);
    background-color: $white;
    border-radius: rem(1px);
    display: flex;
  }
}
.check__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  width: rem(11px);
  height: rem(9px);
  fill: $green;
  display: none;
}