.chocco {
  background-color: $white;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -31%;
    right: 0%;
    display: block;
    background-image: url("../../img/bg/bg-image-chocco.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: $z-bef-af-section;
    width: rem(196px);
    height: rem(453px);
    @include tablets {
      width: rem(157px);
      height: rem(362px);
      bottom: -21%;

    }
    @include phones {
      width: rem(137px);
      height: rem(322px);
      right: -15%;

    }
  }
}
.chocco__container {
  height: 100%;
  width: 94%;
  display: flex;
}
.chocco__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: $z-chocco-content;
  position: relative;
  width: 100%;
}
.chocco__arrow {
  position: relative;
  cursor: pointer;
  fill: $light-black;
  z-index: $z-chocco-arrow;
  &--left {
    transform-origin: center center;
    transform: rotate(90deg);
  }
  &--right {
    transform-origin: center center;
    transform: rotate(-90deg);
  }
  @include tablets {
    top: -15%;
  }
  @include phones {
    top: -25%;
  }
}
.chocco__slider {
  flex: 1;
  // height: 100%;
}