.feature {
  display: flex;
}
.feature__left {
  @include roboto(normal);
  font-size: rem(12px);
  text-transform: uppercase;
  position: relative;
  display: flex;
  // margin-right: rem(102px);
  margin-right: rem(122px);
  
  & div {
    height: 86%;
    display: flex;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    transform-origin: 50% 52%;
    position: absolute;
    white-space: normal;
    @include desctop {
      height: 115%;
      transform-origin: 50% 41%;
      margin-right: rem(80px);
    }
    @include tablets {
      height: 105%;
      transform-origin: 50% 42%;
    }
  }
  &--hamburger {
    margin-right: rem(202px);
    & div {
      transform-origin: 50% 55%;
    }
    @include desctop {
      & div {
        transform-origin: 50% 41%;
      }
    }
    @include tablets {
      & div {
        transform-origin: 50% 43%;
      }
    }
  }
  @include desctop {
    margin-right: rem(78px);
  }
  @include note {
    font-size: rem(10px);
    margin-right: rem(80px);
  }
  @include tablets {
    font-size: rem(8px);
    margin-right: rem(38px);
  }
}
.feature__right {
  @include roboto(normal);
  font-size: rem(20px);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & span {
    // line-height: 2.8;
    line-height: 3.6;
    // letter-spacing: rem(62px);
    letter-spacing: rem(58px);
    & l {
      cursor: pointer;
      transition: .6s;
    }
    @include desctop {
      line-height: 2.6;
      letter-spacing: rem(50px);
      font-size: rem(16px);
    }
    @include note {
      font-size: rem(14px);
      letter-spacing: rem(36px);
      @include heightnote {
        font-size: rem(20px);
        letter-spacing: rem(42px);
      }
    }
    @include tablets {
      font-size: rem(12px);
      letter-spacing: rem(26px);
    }
  }
}