.first {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  color: $black;
  // min-height: 100vh;
  height: rem(1080px);
  @include desctop {
    height: 100vh;
  }
}
.parallax {
  background-image: url("../../img/bg/jupiter.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  @include desctop {
    background-image: url("../../img/bg/jupiter_1300px.png");
  }
  @include note {
    background-image: url("../../img/bg/jupiter_1024px.png");
  }
  @include tablets {
    background-image: url("../../img/bg/jupiter_768px.png");
  }
  @include phones {
    background-image: url("../../img/bg/jupiter_480px.png");
  }
}
.first__slider-first {
  position: absolute;
  right: 0;
  top: 60%;
  // height: 19%;
  // width: 38%;
  height: 17%;
  width: 45%;
  cursor: pointer;
  @media screen and (min-height: 700px) {
    height: 15%;
  }


  @include desctop {
    top: 54%;
    height: 17%;
  }
  @include note {
    top: 50%;
    width: 50%;
    @media screen and (min-height: 460px) {
      top: 58%;
    }
    @media screen and (min-height: 580px) {
      height: 14%;
    }
    @media screen and (min-height: 840px) {
      top: 62%;
    }
    @media screen and (min-height: 1000px) {
      top: 64%;
    }
  }
  @include tablets {
    top: 55%;
    height: 19%;
    width: 48%;
    @media screen and (min-height: 400px) {
      top: 50%;
    }
    @media screen and (min-height: 440px) {
      top: 55%;
    }
    @media screen and (min-height: 460px) {
      height: 16%;
    }
    @media screen and (min-height: 520px) {
      top: 58%;
      height: 14%;
    }
    @media screen and (min-height: 580px) {
      top: 60%;
      height: 12%;
    }
    @media screen and (min-height: 620px) {
      top: 59%;
      height: 14%;
      width: 56%;
    }
    @media screen and (min-height: 700px) {
      top: 63%;
      height: 12%;
      width: 66%;
    }
    @media screen and (min-height: 1120px) {
      height: 10%;
    }
  }
  @include phones {
    top: 62%;
    width: 70%;
    height: 12%;
    @media screen and (min-height: 940px) {
      height: 10%;
    }
  }
  &:hover {
    &::before {
      filter: blur(10px);
    }
  }
}
.first__container {
  height: 100%;
  display: flex;
  z-index: 10;
}
.first__display {
  position: absolute;
  left: 0;
  // top: 40%;
  top: 50%;
  transform: translateY(-65%);
  @include desctop {
    top: 48%;
  }
  @include note {
    top: 44%;
  }
  @include tablets {
    top: 42%;
    left: 2%;
    margin-bottom: 39%;
    @media screen and (min-height: 380px) {
      top: 48%;
    }
    @media screen and (min-height: 460px) {
      left: 1%
    }
  }
  @include phones {
    left: 3%;
    top: 40%;
    @media screen and (min-height: 740px) {
      top: 30%;
    }
    @media screen and (min-height: 760px) {
      top: 35%;
    }
    
  }
}
.fdisplay {
  @include roboto(normal);
  font-style: normal;
  font-size: rem(48px);
  line-height: 1.2;
  text-transform: uppercase;
  color: $black;
  z-index: $z-display;
  @include desctop {
    font-size: rem(38px);
  }
}
.fdisplay__list {
  & .fdisplay__item {
    background-color: transparent;
    width: rem(53px);
    height: rem(53px);
    // margin-bottom: 4%;
    margin-bottom: 34%;
    position: relative;
    cursor: pointer;
    opacity: 1;
    
    &::before {
      content: "";
      position: absolute;
      width: rem(6px);
      height: rem(6px);
      display: block;
      border-radius: 50%;
      background-color: $black;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 0;
      transition: opacity .6s;
      transition: scale .6s;
    }
    &::after {
      content: "";
      position: absolute;
      width: rem(32px);
      height: rem(32px);
      display: block;
      border-radius: 50%;
      border: 1px solid $black;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(1);
      opacity: 1;
      transition: .6s;
      @include desctop {
        width: rem(26px);
        height: rem(26px);
      }
      @include note {
        
        @media screen and (min-height: 540px) {
          width: rem(32px);
          height: rem(32px);
        }
      }
      @include tablets {
        width: rem(20px);
        height: rem(20px);
        @media screen and (min-height: 380px) {
          width: rem(26px);
          height: rem(26px);
        }
        @media screen and (min-height: 460px) {
          width: rem(32px);
          height: rem(32px);
        }
        @media screen and (min-height: 1120px) {
          width: rem(40px);
          height: rem(40px);
        }
      }
      @include phones {
        width: rem(26px);
        height: rem(26px);
        @media screen and (min-height: 940px) {
          width: rem(40px);
          height: rem(40px);
        }
      }
    }
    @include desctop {
      margin-bottom: 15%;
      width: rem(35px);
      height: rem(35px);
      font-size: rem(30px);
    }
    @include note {
      margin-bottom: 12%;
      width: rem(28px);
      height: rem(28px);
      font-size: rem(26px);
      @media screen and (min-height: 540px) {
        width: rem(30px);
        margin-bottom: 26%;
        font-size: rem(30px);
        height: rem(30px);
      }
    }
    @include tablets {
      margin-bottom: 39%;
      width: rem(18px);
      height: rem(18px);
      font-size: rem(20px);
      @media screen and (min-height: 380px) {
        width: rem(26px);
        margin-bottom: 22%;
        height: rem(26px);
      }
      @media screen and (min-height: 460px) {
        width: rem(36px);
        margin-bottom: 22%;
        height: rem(36px);
        font-size: rem(26px);
      }
      @media screen and (min-height: 620px) {
        font-size: rem(36px);
      }
      @media screen and (min-height: 1120px) {
        font-size: rem(42px);
        height: rem(44px);
        width: rem(44px);

      }
    }
    @include phones {
      font-size: rem(20px);
      width: rem(20px);
      height: rem(20px);
      margin-bottom: 80%;
      @media screen and (min-height: 740px) {
        font-size: rem(24px);
        margin-bottom: 60%;
        width: rem(24px);
        height: rem(24px);
      }
      @media screen and (min-height: 760px) {
        font-size: rem(32px);
        margin-bottom: 50%;
        width: rem(32px);
        height: rem(32px);
      }
      @media screen and (min-height: 940px) {
        font-size: rem(40px);
        margin-bottom: 30%;
        width: rem(42px);
        height: rem(42px);
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
      &::after {
        transform: translate(-50%,-50%) scale(1.2);
      }
    }
    &--active {
      & .fdisplay__but {
        transform: scale(1);
        opacity: 1;
      }
      &::after {
        transform:translate(-50%,-50%) scale(0);
        opacity: 0;
        transition: scale .6s, opacity .6s;
      }
      &:hover {
        &::before {
          opacity: 0;
        }
        &::after {
          transform:translate(-50%,-50%) scale(0);
          opacity: 0;
          transition: scale .6s, opacity .6s;
        }
      }
    }
  }
  .fdisplay__but {
    display: block;
    margin: 0 auto;
    transition: scale .6s, opacity .6s;
    transform: scale(0);
    opacity: 0;
  }
}
.first__content {
  display: flex;
  z-index: $z-first-container;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  width: 57%;
  // padding-bottom: 2vh;
  padding-bottom: 4vh;
  line-height: 1;
  @include desctop {
    padding-bottom: 1%;
  }
  @include note {
    @media screen and (min-height: 540px) {
      width: 70%;
    }
  }
  @include tablets {
    width: 57%;
    @media screen and (min-height:620px) {
      width: 80%;
    }
  }
  @include phones {
    width: 90%;
  }
}
.first__title {
  padding-left: 17%;
  margin-bottom: 4%;
  position: relative;
  width: 96%;
  & h1 {
    @include roboto(bold);
    font-size: rem(80px);
    text-transform: uppercase;
    display: flex;
    line-height:  1.2;
    display: flex;
    flex-wrap: wrap;
    & span:nth-child(2) {
      position: relative;
      &:after {
        content: "";
        top: -50%;
        left: 67%;
        transform: translateY(50%);
        position: absolute;
        width: 33%;
        height: rem(5px);
        background-image: linear-gradient(90deg, $white 50%, $black 50%); 
      }
    }
    @include desctop {
      font-size: rem(62px);
    }
    @include note {
      font-size: rem(48px);
      @media screen and (min-height: 540px) {
        font-size: rem(56px);
      }
    }
    @include tablets {
      font-size: rem(36px);
      @media screen and (min-height: 400px) {
        font-size: rem(46px);
      }
      @media screen and (min-height: 520px) {
        font-size: rem(60px);
      }
    }
    @include phones {
      font-size: rem(38px);
      @media screen and (min-height: 760px) {
        font-size: rem(48px);
      }
      @media screen and (min-height: 940px) {
        font-size: rem(60px);
      }
      @media screen and (min-height: 1120px) {
        font-size: rem(72px);
      }
    }
  }
  @include desctop {
    margin-bottom: 2vh;
  }
  @include tablets {
    margin-bottom: 2%;
    @media screen and (min-height: 460px) {
      padding-left: 20%;
    }
  }
  @include phones {
    padding-left: 17%;
    margin-bottom: 4%;
    @media screen and (min-height: 940px) {
      margin-bottom: 6%;
    }
  }

}
.first__desc {
  @include roboto(normal);
  font-style: normal;
  font-size: rem(24px);
  line-height: 1.8;
  width: 70%;
  padding-left: 17%;
  // margin-bottom: 10vh;
  margin-bottom: 20vh;
  @include desctop {
    margin-bottom: 8vh;
    line-height: 1.6;
    font-size: rem(20px);
    @media screen and (min-height: 840px) {
    font-size: rem(22px);
    margin-bottom: 14vh;
    }
  }
  @include note {
    font-size: rem(16px);
    margin-bottom: 10vh;
    @media screen and (min-height: 540px) {
      font-size: rem(18px);
      margin-bottom: 14vh;
    }
  }
  @include tablets {
    font-size: rem(14px);
    width: 96%;
    margin-bottom: 12%;
    @media screen and (min-height: 380px) {
      margin-bottom: 18%;
    }
    @media screen and (min-height: 400px) {
      margin-bottom: 20%;
    }
    @media screen and (min-height: 460px) {
      margin-bottom: 30%;
      padding-left: 20%;
    }
    @media screen and (min-height: 520px) {
      font-size: rem(16px);
      width: 100%;
    }
    @media screen and (min-height: 560px) {
      margin-bottom: 35%;
    }
    @media screen and (min-height: 620px) {
      font-size: rem(20px);
      margin-bottom: 30%;
    }
    @media screen and (min-height: 640px) {
      margin-bottom: 35%;
    }
    @media screen and (min-height: 760px) {
      margin-bottom: 45%;
    }
    @media screen and (min-height: 940px) {
      font-size: rem(24px);
      margin-bottom: 65%;
    }
    @media screen and (min-height: 1120px) {
      font-size: rem(28px);
      margin-bottom: 70%;
    }
  }
  @include phones {
    padding-left: 17%;
    font-size: rem(16px);
    margin-bottom: 45%;
    line-height: 1;
    width: 100%;
    @media screen and (min-height: 601px) {
      margin-bottom: 55%;
    }
    @media screen and (min-height: 661px) {
      margin-bottom: 65%;
    }
    @media screen and (min-height: 700px) {
      font-size: rem(18px);
      line-height: 1.2;
    }
    @media screen and (min-height: 760px) {
      font-size: rem(21px);
      line-height: 1.4;
      margin-bottom: 70%;
    }
    @media screen and (min-height: 940px) {
      font-size: rem(26px);
      line-height: 1.6;
      margin-bottom: 80%;
    }
  }
}