.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.footer__container {
  margin: 0 auto;
  width: 95%;
  @include tablets {
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
.footer__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include tablets {
    flex-direction: column;
    height: 100%;
    justify-content: center;

  }
}
.footer__left {
  width: 44%;
  flex-shrink: 1;
  position: relative;
  @include tablets {
    width: 100%;
    margin-bottom: rem(50px);
    @media screen and (min-height: 580px) {
      margin-bottom: rem(80px);
    }
  }
  @include phones {
    margin-bottom: rem(50px);
  }
}
.footer__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  // transition: .4s 1.8s;
  width: rem(272px);
  @include desctop {
    width: rem(200px);
  }
  @include note {
    width: rem(150px);
  }
  @include tablets {
    width: rem(200px);
    @media screen and (min-height: 540px) {
      width: rem(280px);
    }
  }
  @include phones {
    width: rem(200px);
    @media screen and (min-height: 980px) {
      width: rem(280px);
    }
  }
}
.footer__nav {
  position: relative;
  width: 100%;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: rem(2px);
    background-color: $black;
    // transition: .4s 1s;
    // transform: translate(0,160%);
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: rem(2px);
    background-color: $black;
    // transition: .4s 1s;
    // transform: translate(0,160%);
    right: 0;
  }
  @include tablets {
    margin-bottom: rem(50px);
  }
}
.footer__network {
  width: 42%;
  flex-shrink: 1;
  position: relative;
  @include tablets {
    width: 100%;
  }
}