.hamburger-menu {
	display: flex;
  align-items: center;
	cursor: pointer;
	opacity: .7;
	transition: .6s;
	position: relative;
	align-items: center;

	&:hover {
		opacity: 1;
	}
}
.hamburger-menu__input {
	display: none;
	// &:checked {
	// 	& ~.hamburger-menu__bars {
	// 		transform: rotate(45deg);
	// 		transform-origin: center center;
	// 		&::before {
	// 			top: 0;
	// 			transform: rotate(0deg);
	// 			transform-origin: center center;
	// 		}
	// 		&::after {
	// 			top: 0;
	// 			transform: rotate(90deg);
	// 			transform-origin: center center;
	// 		}
	// 	}
	// }
}