.header {
  position: absolute;
  z-index: $z-header;
  left: 0;
  // top: 2vh;
  top: 6vh;
  width: 100%;
  color: $black;
  @include desctop {
    top: 2%;
  }
  @include note {
    top: 3%;
    @include heightnote {
      top: 6%;
    }
  }
  @include tablets {
    top: 2%;
    @include heighttablets {
      top: 5%;
    }
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  flex: 1;
}
.header__hamburger-menu {
  margin-right: rem(36px);
  @include note {
    margin-right: rem(20px);
  }
}
.header__logo {
  width: rem(212px);
  height: rem(61px);
  @include desctop {
    width: rem(170px);
    height: rem(45px);
  }
  @include note {
    width: rem(150px);
    height: rem(40px);
    @include heightnote {
      width: rem(190px);
      height: rem(56px);
    }
  }
  @include tablets {
    width: rem(120px);
    height: rem(36px);
  }
}
.header__right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}