.nav {
  @include alegreya-sans(normal);
  font-size: rem(18px);
  line-height: 1;
}
.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  cursor: pointer;
  text-align: center;
  margin-right: rem(5px);
  &:last-child {
    margin-right: 0;
  }
}