.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include roboto(bold);
  font-size: rem(24px);
  text-transform: uppercase;
  @include desctop {
    font-size: rem(16px);
  }
  @include tablets {
    font-size: rem(14px);
  }
  &--footer {
    padding: rem(28px) 0px rem(75px);
    @include note {
      padding: rem(20px) 0px rem(55px);
      @include heightnote {
        font-size: rem(20px);
        padding: rem(18px) rem(25px) rem(55px);
      }
    }
    & .nav__list {
      width: 50%;
      @include tablets {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      @include note {
        @include heightnote {
          width: 70%;
        }
      }
    }
    & .nav__item {
      width: 50%;
      text-align: left;
      
      @include tablets {
        width: 30%;
        text-align: center;
      }
    }
    & .nav__ref {
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid $black;
      }
    }
    @include tablets {
      padding: rem(8px) 0px rem(35px);
      font-size: rem(20px);
    }
    @include tablets {
      font-size: rem(16px);
    }
  }
  &--hamburger {
    width: 80%;
    & .nav__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    & .nav__item {
      display: flex;
      margin-bottom: 3%;
      &:last-child {
        margin-bottom: 0;
      }
    }
    & .nav__ref {
      @include roboto(black);
      font-size: rem(100px);
      line-height: 1.2;
      position: relative;
      opacity: 1;
      transition: opacity .6s;
      color: $black;
      @include desctop {
        font-size: rem(72px);
      }
      @include note {
        font-size: rem(62px);
      }
      @include tablets {
        font-size: rem(48px);
      }
      &::before {
        content: "";
        top: 48%;
        left: 0%;
        transform: translate(-47%,-50%);
        position: absolute;
        width: rem(162px);
        height: rem(6px);
        background: linear-gradient(90deg, #FBE6E6 50%, $black 50%); 
        opacity: 0;
        transition: opacity .6s;
        z-index: 2;
      }
      &::after {
        content: attr(data-text-hamb);
        -webkit-text-stroke: 3px transparent;
        position: absolute;
        color: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../img/bg/jupiter.png");
        background-size: cover;
        background-position: 0% 52%;
        -webkit-background-clip: text;
        opacity: 0;
        transition: opacity .6s;
        @include desctop {
          background-image: url("../../img/bg/jupiter_1300px.png");
        }
        @include note {
          background-image: url("../../img/bg/jupiter_1024px.png");
        }
        @include tablets {
          background-image: url("../../img/bg/jupiter_768px.png");
        }
        @include phones {
          background-image: url("../../img/bg/jupiter_480px.png");
        }
      }
      &:hover {
        &::before {
          opacity: 1;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav__item {
  line-height: 2.6;
}
.nav__ref {
  cursor: pointer;
  display: inline-flex;
  height: 100%;
  transition: .4s;
}