.network {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--footer {
    & .network__list {
      width: 70%;
      @include tablets {
        width: 80%;
      }
    }
    & .network__item {
      width: 50%;
      @include tablets {
        width: 25%;
      }
    }
  }
}
.network__list {
  position: absolute;
  top: 0;
  left: 150%;
  transform: translate(-50%,-50%);
  transition: .4s 1.8s;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.network__item {
  text-align: center;
  line-height: 5;
  &:hover {
    & .network__icon {
      transition: .4s ease-out .1s, .6s .2s;
      transform: rotate(360deg) scale(1.3);
    }
  }
  @include note {
    line-height: 4;
  }
}
.network__icon {
  width: rem(44px);
  height: rem(44px);
  fill: $black;
  transform: rotate(0deg) scale(1);
  @include note {
    width: rem(34px);
    height: rem(34px);
  }
  @include tablets {
    width: rem(30px);
    height: rem(30px);
    @media screen and (min-height: 540px) {
      width: rem(50px);
      height: rem(50px);
    }
  }
  @include phones {
    width: rem(30px);
    height: rem(30px);
    @media screen and (min-height: 980px) {
      width: rem(50px);
      height: rem(50px);
    }
  }
}