.order {
  background-color: $biruse;
  background-image: url("../../img/bg/bg-pattern-order.png");
  // background-position: left 0% bottom -40%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -22%;
    right: -5%;
    display: block;
    background-image: url("../../img/icons/barry-bef-order.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: $z-bef-af-section;
    width: rem(240px);
    height: rem(260px);
    @include tablets {
      width: rem(180px);
      height: rem(200px);
      top: -15%;
      right: -7%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 2%;
    right: 1%;
    display: block;
    background-image: url("../../img/icons/leaf-af-order.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: $z-bef-af-section;
    width: rem(135px);
    height: rem(188px);
    @include tablets {
      display: none;
    }
  }
}
.order__container {
  height: 100%;
  display: flex;
}
.order__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    bottom: 15%;
    left: 2%;
    display: block;
    background-image: url("../../img/icons/barry-af-order-content.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: $z-bef-af-section;
    width: rem(47px);
    height: rem(48px);
    @include tablets {
      display: none;
    }
  }
}
.order__title {
  margin-bottom: rem(55px);
  @include tablets {
    margin-bottom: rem(25px);
  }
  @include phones {
    text-align: center;
    margin-bottom: rem(5px);
  }
}