.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: $black, $alpha: .9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.overlay__container {
  position: relative;
  display: flex;
  width: 30%;
  background: $white;
  border-radius: rem(2px);
  padding: 2%;
  color: $black-bg;
  align-items: center;
  flex-direction: column;
  opacity: .9;

  @include tablets {
    width: 40%;
  }
  @include phones {
    width: 40%;
  }
}

.overlay__content {
  color: $black;
  text-align: center;
  margin: 0;
  margin-bottom: 8%;
  font-size: rem(18px);
  @include alegreya-sans(normal);
}

// .overlay__close {
//   background: $red;
//   border-radius: 6%;
//   &:hover{
//     background: $orange;
//   }
// }