.portfolio {
  position: relative;
  overflow: hidden;
  color: $black;
  // width: 100vw;
  // min-height: 1080px;
  height: 100vh;
}
.portfolio__content {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: center;
  width: 100vw;
}
.portfolio__display {
  display: flex;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  @include desctop {
    bottom: 2%;
  }
  @include note {
    bottom: 3%;
  }
  @include tablets {
    bottom: 2%;
  }
  & .display__list {
    display: flex;
    align-items: center;
  }
  & .display__item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-right: rem(40px);
    @include desctop {
      margin-right: rem(20px);
    }
    @include tablets {
      margin-right: rem(10px);
      width: rem(26px);
      height: rem(26px);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}