.portfolio {
  position: relative;
  overflow: hidden;
  color: $black;
  min-height: 1080px;
}
.portfolio__content {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.portfolio__display {
  display: flex;
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  @include desctop {
    bottom: 10%;
  }
  & .display__list {
    display: flex;
    align-items: center;
  }
  & .display__item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-right: rem(40px);
    @include desctop {
      margin-right: rem(20px);
    }
    &:last-child {
      margin-right: 0;
    }
    // &::after {
    //   transition: scale .6s;
    // }
    
  }
}