.reviews {
  background-color: $white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 5%;
    right: 3%;
    display: block;
    background-image: url("../../img/icons/barry-bef-reviews.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: $z-bef-af-section;
    width: rem(150px);
    height: rem(86px);
    @include tablets {
      width: rem(113px);
      height: rem(79px);
      right: -5%;
    }
    @include phones {
      top: 2%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -24%;
    left: 0%;
    display: block;
    background-image: url("../../img/bg/bg-image-reviews.png");
    background-position: left 0% bottom -40%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: $z-bef-af-section;
    width: rem(102px);
    height: rem(321px);
    @include tablets {
      bottom: -9%;
      width: rem(76px);
      height: rem(317px);
    }
  }
  
  
}
.reviews__container {
  height: 100%;
  display: flex;
}
.reviews__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: $z-content;
}
.reviews__title {
  margin-bottom: rem(44px);
  z-index: $z-title-reviews;
  @include phones {
    margin-bottom: rem(10px);
  }
}
.reviews__list {
  display: flex;
  margin-bottom: rem(22px);
  @include tablets {
    width: 95%;
  }
}
.reviews__item {
  width: 100%;
  display: none;

  &--active {
    display: flex;
    @include tablets {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
.reviews__list-btns {
  display: flex;
  justify-content: center;
}
.reviews__item-btn {
  width: rem(66px);
  height: rem(66px);
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid transparent;
  margin-right: rem(5px);
  box-sizing: content-box;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }

  &--active {
    border-color: $green;
  }
  @include tablets {
    width: rem(58px);
    height: rem(58px);
  }
  @include phones {
    width: rem(53px);
    height: rem(53px);
  }
}
.reviews__img-btn {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}