.reviews {
  display: flex;
  position: relative;
  width: 100%;
  color: $black;
  flex-direction: column;
  align-items: center;
  &--active {
    & .reviews__avatar {
      transition: .8s;
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
.reviews__container {
  width: 85%;
  display: flex;
  justify-content: center;
}
.reviews__item {
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__avatar {
  max-width: rem(514px);
  max-height: rem(550px);
  // width: 100%;;
  overflow: hidden;
  margin-bottom: rem(47px);
  position: relative;
  transform: translateY(100%);
  opacity: 0;
  transition: .6s;
  transition: opacity .4s;
  @include desctop {
    margin-bottom: rem(25px);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-color: white;
    border-radius: 50%;
    border-width: 20px;
    filter: blur(40px);
  }
}
.reviews__photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.reviews__desc {
  width: 85%;
  @include roboto(normal);
  font-size: rem(21px);
  line-height: 1.2;
  @include desctop {
    font-size: rem(16px);
  }
}