.services {
  position: relative;
  overflow: hidden;
  color: $black;
  min-height: rem(1044px);
  padding-top: rem(20px);
  // padding-bottom: rem(50px);
  // border: 1px solid black;
  @include desctop {
    padding-top: rem(40px);
  min-height: rem(800px);
  }
  @include note {
    padding-top: rem(58px);
    min-height: rem(400px);
    padding-bottom: rem(10px);

  }
  @include tablets {
    padding-top: rem(8px);
    min-height: auto;
    padding-bottom: rem(4px);

  }
}
.services__container {
  height: 100%;
  display: flex;
  background: inherit;
}
.services__content {
  display: flex;
  z-index: $z-services-content;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: inherit
}
.services__title {
  @include roboto(bold);
  font-size: rem(72px);
  text-transform: uppercase;
  margin-bottom: rem(68px);
  @include desctop {
    font-size: rem(66px);
    margin-bottom: rem(52px);
  }
  @include note {
    font-size: rem(48px);
    margin-bottom: rem(20px);
  }
}
.services__list {
  display: flex;
  width: 92%;
  background: inherit;
  justify-content: space-around;

  // margin-bottom: rem(66px);
  margin-bottom: 11%;
  @include desctop {
    width: 94%;
  }
  @include note {
    margin-bottom: rem(60px);
  }
  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}
.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26%;
  background: inherit;
  margin-right: rem(20px);
  transform: scale(1);
  transition: .8s;
  cursor: pointer;
  backdrop-filter: blur(26px);

  &:hover {
    transform: scale(1.1);
  backdrop-filter: blur(30px);

  }
  &:last-child {
    margin-right: 0;
  }
  @include desctop {
    width: 25%;

  }
  @include note {
    width: 30%;
    margin-right: rem(5px);

  }
  @include tablets {
    width: 60%;
    margin-right: 0;
    margin-bottom: rem(20px);
  }
}
.services__ref {
  padding: rem(60px) rem(18px) rem(54px);
  display: flex;
  flex-direction: column;
  align-items: center;
  // opacity: 0.8;
  background: linear-gradient(154.49deg, rgba(255, 255, 255, 0.4) -14.99%, rgba(255, 255, 255, 0) 150.94%);
  // background: linear-gradient(154.49deg, rgba(122, 102, 102, 0.1) -14.99%, rgba(255, 255, 255, 0) 150.94%);
  backdrop-filter: blur(18px);
  width: 100%;
  height: 100%;

  box-shadow: 0 25px 45px rgba(0,0,0,0.07);
  border: 1px solid rgba(255,255,255,0.25);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 0px solid rgba(255,255,255,0.1);

  @include desctop {
    padding: 20% 5% 24%;
  }
  @include note {
    padding: 10% 5% 14%;
  }
  @include tablets {
    padding: 8% 5% 14%;
  }
}
.services__name {
  @include roboto(bold);
  font-size: rem(24px);
  text-transform: uppercase;
  margin-bottom: rem(65px);
  @include desctop {
    font-size: rem(20px);
    margin-bottom: rem(40px);
  }
  @include note {
    font-size: rem(16px);
    margin-bottom: rem(20px);
  }
}
.services__pic {
  margin-bottom: rem(65px);
  @include desctop {
    margin-bottom: rem(50px);
  }
  @include note {
    margin-bottom: rem(15px);
  }
}
.services__icon {
  display: block;
  width: rem(106px);
  height: rem(106px);
  fill: $black;
  @include note {
    width: rem(66px);
    height: rem(66px);
  }
}
.services__desc {
  @include roboto(normal);
  font-size: rem(18px);
  text-align: left;
  line-height: 1.6;
  @include desctop {
    font-size: rem(16px);
  }
  @include note {
    font-size: rem(14px);
  }
}
.services__but {
  position: relative;
  padding: rem(29px) rem(52px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .6s;
  color: $black;
  text-transform: uppercase;
  border: 1px solid $black;
  cursor: pointer;
  @include roboto(bold);
  font-size: rem(36px);
  @include desctop {
    font-size: 24px;
    padding: rem(26px) rem(48px);
  }
  @include note {
    font-size: 20px;
    padding: rem(18px) rem(36px);
  }
  & span {
    position: relative;
    z-index: 15;
    display: flex;
    transition: .7s;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    height: 100%;
    background: url("../../img/bg/bg-mask.png");
    background-size: cover;
    transform-origin: -10% left;
    transition: .6s;
    opacity: 0;
    z-index: 10;
  }
  &:hover {
    & span {
      color: $white;
    }
    border: 1px solid white;
    &::before {
      width: 100%;
      opacity: .9;
    }
  }
}