.services {
  position: relative;
  overflow: hidden;
  color: $black;
  // min-height: rem(1044px);
  height: rem(1080px);
  padding-top: rem(20px);
  @include desctop {
    padding-top: rem(40px);
    height: 100vh;
    padding-top: rem(0px);
    min-height: rem(780px);
  }
  @include note {
    padding-top: rem(78px);
    // min-height: rem(960px);
    height: auto;
    padding-bottom: rem(10px);
    // @include tablets {
    //   min-height: 100vh;
    //   height: auto;
    // }
  }
  @include tablets {
    padding-top: rem(60px);
    min-height: auto;
    padding-bottom: rem(4px);

  }
}
.parallax-services {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.services__container {
  height: 100%;
  display: flex;
  background: inherit;
}
.services__content {
  display: flex;
  z-index: $z-services-content;
  flex-direction: column;
  height: 100%;
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: inherit;
  @include note {
    justify-content: flex-start
  }
}
.services__title {
  @include roboto(bold);
  font-size: rem(72px);
  text-transform: uppercase;
  // margin-bottom: rem(68px);
  margin-bottom: rem(120px);
  @include desctop {
    font-size: rem(66px);
    margin-bottom: rem(52px);
  }
  @include note {
    font-size: rem(48px);
    margin-bottom: rem(60px);
  }
  @include phones {
    @media screen and (min-height: 880px) {
      font-size: rem(68px);
    }
  }
}
.services__list {
  display: flex;
  width: 92%;
  background: inherit;
  justify-content: space-around;
  // margin-bottom: 11%;
  margin-bottom: rem(110px);
  @include desctop {
    width: 94%;
    margin-bottom: rem(55px);
  }
  @include note {
    justify-content: center;
    margin-bottom: rem(60px);
    width: 100%;
  }
  @include tablets {
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(40px);
    width: 96%;
    @media screen and (min-height: 580px) {
      @media screen and (min-width: 650px) {
        flex-direction: row;
        width: 100%;

      }
    }
    
  }
  @include phones {
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(40px);
    width: 96%;
    @media screen and (min-height: 880px) {
      margin-bottom: rem(60px);
    }
  }
}
.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26%;
  max-width: rem(336px);
  // background: inherit;
  background: rgba(#C4C4C4,.05);
  margin-right: rem(20px);
  transform: scale(1);
  transition: .8s;
  cursor: pointer;
  backdrop-filter: blur(15px);
  &:hover {
    transform: scale(1.1);
    backdrop-filter: blur(30px);
  }
  &:last-child {
    margin-right: 0;
  }
  @include desctop {
    width: 25%;
    max-width: rem(250px);
    @media screen and (min-height: 780px) {
     width: 27%;;
    }
  }
  @include note {
    width: 27%;
    margin-right: 5%;
    max-width: rem(200px);
    @media screen and (min-height: 520px) {
      margin-right: 7%;
    }
  }
  @include tablets {
    max-width: none;
    width: 98%;
    margin-right: 0;
    margin-bottom: rem(20px);
    // @media screen and (min-height: 480px) {
    //   width: 80%;
    // }
    @media screen and (min-height: 580px) {
      @media screen and (min-width: 650px) {
        width: 30%;
        margin-right: 5%;

      }
    }
  }
  @include phones {
    max-width: none;
    width: 85%;
    margin-right: 0;
    margin-bottom: rem(20px);
  }
}
.services__ref {
  padding: rem(68px) rem(12px) rem(60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(154.49deg, rgba(255, 255, 255, 0.4) -14.99%, rgba(255, 255, 255, 0) 150.94%);
  backdrop-filter: blur(18px);
  width: 100%;
  height: 100%;
  box-shadow: 0 25px 45px rgba(0,0,0,0.07);
  @include desctop {
    padding: 20% 5% 24%;
  }
  @include note {
    padding: 18% 5% 16%;
  }
  @include tablets {
    padding: 8% 10% 10%;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (min-height: 580px) {
      @media screen and (min-width: 650px) {
        flex-direction: column;
        text-align: center;
        padding: 12% 10% 10%;
      }
    }
  }
  @include phones {
    padding: 8% 10% 10%;
    flex-direction: column;
    text-align: center
  }
}
.services__name {
  @include roboto(bold);
  font-size: rem(24px);
  text-transform: uppercase;
  margin-bottom: rem(68px);
  @include desctop {
    font-size: rem(20px);
    margin-bottom: rem(40px);
  }
  @include note {
    font-size: rem(22px);
    margin-bottom: rem(50px);
  }
  @include tablets {
    width: 100%;
    font-size: rem(30px);
    @media screen and (min-height: 580px) {
      @media screen and (min-width: 650px) {
        font-size: rem(18px);
        text-align: center;

      }
    }
  }
  @include phones {
    width: 100%;
    margin-bottom: rem(30px);
    font-size: rem(26px);
    @media screen and (min-height: 740px) {
      margin-bottom: rem(35px);
      font-size: rem(30px);
    }
    @media screen and (min-height: 880px) {
      margin-bottom: rem(45px);
      font-size: rem(40px);
    }
  }
}
.services__pic {
  margin-bottom: rem(75px);
  @include desctop {
    margin-bottom: rem(50px);
  }
  @include note {
    margin-bottom: rem(45px);
  }
  @include tablets {
    margin-bottom: 0;
    margin-right: rem(30px);
    @media screen and (min-height: 580px) {
      @media screen and (min-width: 650px) {
        margin-bottom: rem(30px);
        margin-right: rem(0px);

      }
    }
  }
  @include phones {
    margin-right: 0;
    margin-bottom: rem(10px);
    @media screen and (min-height: 740px) {
      margin-bottom: rem(20px);
    }
    @media screen and (min-height: 880px) {
      margin-bottom: rem(40px);
    }
    
  }
}
.services__icon {
  display: block;
  width: rem(106px);
  height: rem(106px);
  fill: $black;
  @include note {
    width: rem(96px);
    height: rem(96px);
  }
  @include tablets {
    width: rem(106px);
    height: rem(106px);
  }
  @include phones {
    width: rem(86px);
    height: rem(86px);
    @media screen and (min-height: 740px) {
      width: rem(106px);
      height: rem(106px);
    }
    @media screen and (min-height: 880px) {
      width: rem(126px);
      height: rem(126px);
    }
  }
}
.services__desc {
  @include roboto(normal);
  font-size: rem(18px);
  text-align: left;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  @include desctop {
    font-size: rem(16px);
  }
  @include note {
    font-size: rem(14px);
    line-height: 1.8;

  }
  @include tablets {
    font-size: rem(18px);
    @media screen and (min-height: 580px) {
      @media screen and (min-width: 650px) {
        font-size: rem(12px);
      }
    }
  }
  @include phones {
    font-size: rem(16px);
    @media screen and (min-height: 740px) {
      font-size: rem(18px);
    }
    @media screen and (min-height: 880px) {
      font-size: rem(23px);
    }
  }
}
.services__but {
  position: relative;
  // padding: rem(29px) rem(52px);
  padding: rem(31px) rem(51px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .6s;
  color: $black;
  text-transform: uppercase;
  border: 1px solid $black;
  cursor: pointer;
  @include roboto(bold);
  font-size: rem(36px);
  @include desctop {
    font-size: 24px;
    padding: rem(26px) rem(48px);
  }
  @include note {
    font-size: 20px;
    padding: rem(18px) rem(36px);
    @media screen and (min-height: 480px) {
      font-size: rem(30px);
      padding: rem(30px) rem(48px);
    }
  }
  @include tablets {
    font-size: 30px;
    padding: rem(28px) rem(48px);
  }
  @include phones {
    font-size: 20px;
    padding: rem(22px) rem(38px);
    @media screen and (min-height: 880px) {
    font-size: rem(36px);
    padding: rem(30px) rem(48px);
    }
  }
  & span {
    position: relative;
    z-index: 15;
    display: flex;
    transition: .7s;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    height: 100%;
    background: url("../../img/bg/jupiter.png");
    background-size: cover;
    transform-origin: -10% left;
    transition: .6s;
    opacity: 0;
    z-index: 10;
    @include desctop {
      background-image: url("../../img/bg/jupiter_1300px.png");
    }
    @include note {
      background-image: url("../../img/bg/jupiter_1024px.png");
    }
    @include tablets {
      background-image: url("../../img/bg/jupiter_768px.png");
    }
    @include phones {
      background-image: url("../../img/bg/jupiter_480px.png");
    }
  }
  &:hover {
    & span {
      color: $white;
    }
    border: 1px solid white;
    &::before {
      width: 100%;
      opacity: .9;
    }
  }
}