.slide {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93%;
  background: inherit;
  padding-top: rem(47px);
  padding-bottom: rem(18px);
  @include desctop {
    padding-top: rem(18px);
  }
}
.slide__container {
  width: 56vw;
  // width: 62%;
  max-width: 1078px;
  flex-direction: column;
  align-items: center;
  // padding: rem(15px) rem(20px);
  padding: rem(10px) rem(10px);
  // height: auto;
  transition: .6s;
  transform: scale(1);
  transform-origin: center center;
  box-shadow: none;
  @include desctop {
    width: 70%;
    padding: rem(10px) rem(16px);
  }
  @include note {
    padding: rem(10px) rem(10px);

    width: 62%;
    @include heightnote {
      width: 84%;
      padding: rem(35px) rem(20px);
    }
  }
  @include tablets {
    width: 70%;
    padding: rem(10px) rem(10px);
    @include heighttablets {
      width: 81%;
    }
  }
  @include phones {
    width: 90%;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  }
}
.slide__title {
  @include roboto(black);
  font-style: normal;
  font-size: rem(72px);
  text-transform: uppercase;
  margin-bottom: rem(15px);
  @include desctop {
    font-size: rem(42px);
    margin-bottom: rem(10px);
  }
  @include tablets {
    font-size: rem(22px);
    margin-bottom: rem(5px);
  }
}
.slide__description {
  @include roboto(normal);
  font-style: normal;
  font-size: rem(24px);
  line-height: 1.6;
  letter-spacing: rem(22px);
  text-transform: uppercase;
  // margin-bottom: rem(39px);
  text-align: center;
  margin-bottom: 5%;
  @include desctop {
    font-size: rem(16px);
    margin-bottom: rem(22px);
    letter-spacing: rem(14px);
  }
  @include tablets {
    font-size: rem(10px);
    margin-bottom: rem(12px);
    letter-spacing: rem(4px);
  }
}
.slide__img {
  display: flex;
  max-width: rem(1078px);
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  transition: 1s;
  z-index: 50;
  @include note {
    @include heightnote {
      width: 94%;
    }
  }
}
.slide__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}