.slider {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100vw;
  position: relative;
  background-color: white;
}
.slider__list, .swiper-wrapper {
  position: absolute;
  transition: all linear .7s;
  top: 0;
  height: 100%;
  display: flex;
  transition-duration: .7s;
  background: transparent;
}
.slider__back-mask {
  font-size: rem(380px);
  overflow: hidden;
  @include roboto(black);
  text-transform: uppercase;
  position: absolute;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  top: 56%;
  transform: translate(0%,-50%);
  height: 100%;
  width: 100%;
  font-size: rem(220px);
  background: url("../../img/bg/jupiter.png");
  background-size: 126% 100%;
  background-position-y: 6%;
  background-position-x: -9%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  opacity: .6;
  & span {
    letter-spacing: -5px;
  }
  @include desctop {
    background-image: url("../../img/bg/jupiter_1300px.png");
    font-size: rem(160px);
    width: 95%;
  }
  @include note {
    background-image: url("../../img/bg/jupiter_1024px.png");
    font-size: rem(128px);
    width: 95%;
  }
  @include tablets {
    background-image: url("../../img/bg/jupiter_768px.png");
    font-size: rem(88px);
    width: 95%;
  }
  @include phones {
    background-image: url("../../img/bg/jupiter_480px.png");
    font-size: rem(88px);
    width: 95%;
  }
  & span {
    display: flex;
    flex-shrink: 1;
  }
}
.slider__left {
  position: absolute;
  top: 0;
  left: 0;
  width: 19%;
  height: 100%;
  z-index: 40;
}
.slider__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 19%;
  height: 100%;
  z-index: 40;
}