.slider-first {
  display: flex;
  @include roboto(normal);
  font-size: rem(24px);
  font-style: normal;
  line-height: 1.6;
  letter-spacing: rem(10px);
  text-transform: uppercase;
  @include desctop {
    font-size: rem(16px);
    letter-spacing: rem(5px);
  }
}
.slider-first__buttons {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  align-items: center;
  z-index: $z-slider-first-buttons;
  cursor: pointer;
}
.slider-first__button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: rem(54px);
  height: rem(54px);
  background-color: transparent;
  @include desctop {
    width: rem(40px);
    height: rem(40px);
  }
  &--prev {
    transform-origin: center;
    transform: rotate(180deg);
    transition: 0;
  }
  transition: .6s;
  &:hover {
    background-color: $black;
    & .arrow-icon {
      fill: $white;
      transform: scale(1.1);
    }
  }
}
.slider-first__container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: $z-slider-first;
}
.slider-first__list {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  left: 0;
  width: 600%;
  z-index: $z-slider-first + 1;
}
.slider-first__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%/6);
}