.slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding-left: 5%;
  z-index: $z-slide-item;
  @include tablets {
    flex-direction: column;
    justify-content: center;
  }
}
.slide__img {
  display: flex;
  width: 44%;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 4%;
  // overflow: hidden;
  &::before {
    content: " ";
    display: block;
    width: rem(75px);
    height: rem(92px);
    background-image: url("../../img/icons/leaf-slider-bef.png");
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 17%;
    left: -13%;
  }
  &::after {
    content: " ";
    display: block;
    width: rem(135px);
    height: rem(188px);
    bottom: -24%;
    right: 2%;
    transform: rotate(26deg) scale(.7);
    background-image: url("../../img/icons/leaf-af-order.png");
    background-position: center center;
    background-size: cover;
    position: absolute;
    @include tablets {
      bottom: -20%;
      right: -15%;
      transform: rotate(26deg)  scale(.8);
    }
    @include phones {
      transform: rotate(26deg)  scale(.7);
    }
  }
  
  @include tablets {
    width: 60%;
    margin-right: 0;
    margin-bottom: 2%;
  }
  @include phones {
    width: 80%;
    margin-bottom: 4%;
  }
}
.slide__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.slide__desc {
  padding-top: 20%;
  flex: 1;
  flex-shrink: 0;
  color: $black;
  position: relative;
  display: flex;
  // height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  @include tablets {
    align-items: center;
    justify-content: flex-start;
    padding-top: 5%;
  }
}
.slide__contain {
  position: absolute;
  top: 0;
  left: 0;
}
.slide__title {
  font-size: rem(36px);
  margin-bottom: rem(20px);
  @include tablets {
    font-size: rem(30px);
    text-align: center;
    margin-bottom: rem(18px);
  }
  @include phones {
    margin-bottom: rem(20px);
  }
}
.slide__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  @include phones {
    margin-bottom: 6%;
  }
}
.slide__text {
  @include alegreya-sans(normal);
  font-size: rem(18px);
  margin-bottom: rem(43px);
  color: $grey;
  width: 95%;

  @include tablets {
    margin-bottom: 3%;
    text-align: center;
    width: 80%;
  }
  @include phones {
    margin-bottom: 5%;
    width: 100%;
  }
}
.slide__table {
  display: flex;
  justify-content: center;
  width: 100%;
}
.slide__kkal {
  margin-right: 3%;
}
.slide__col {
  display: flex;
  flex-direction: column;
  font-size: rem(18px);
  margin-right: 15%;
  @include tablets {
    margin-right: 8%;
  }
  &:last-child {
    margin-right: 0;
  }
}
.slide__col-title {
  margin-bottom: rem(8px);
  @include alegreya-sans(normal);
  @include tablets {
    margin-bottom: rem(4px);
  }
}
.slide__col-number {
  @include alegreya-sans(bold);
}
.slide__order {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
}
.slide__price {
  margin-right: 8%;
  @include alegreya-sans(light);
  font-size: rem(60px);
  @include tablets {
    margin-right: 5%;
    font-size: rem(50px);
  }
  @include phones {
    margin-right: 3%;
    font-size: rem(45px);
  }
}