.why-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: $z-why-desc;
  @include phones {
    flex-direction: row;
    align-items: center;
  }
}
.why-desc__img {
  width: rem(125px);
  height: rem(125px);
  background-color: $light-grey-bg;
  border-radius: 50%;
  position: relative;
  margin-bottom: rem(35px);
  @include phones {
    margin-bottom: 0;
  }
}
.why-desc__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: rem(74px);
  height: rem(69px);
  fill: $light-black-icon;
}
.why-desc__info {
  display: flex;
  flex-direction: column;
  @include phones {
    text-align: left;
    flex: 1;
  }
}
.why-desc__title {
  @include alegreya-sans(bold);
  font-size: rem(27px);
  line-height: 1;
  margin-bottom: rem(25px);
  color: $black;
  @include phones {
    margin-bottom: rem(10px);
  }
}
.why-desc__text {
  @include alegreya-sans(light);
  font-size: rem(18px);
  color: $grey;
  line-height: 1;
  
  & p {
    padding: 0 rem(10px);
  }
}