.why {
  position: relative;
  overflow: hidden;
  color: $black;
  // min-height: 1080px;
  // min-height: rem(900px);
  @include roboto(black);
  font-size: rem(70px);
  text-transform: uppercase;
  @include desctop {
    font-size: rem(50px);
  }
}
.why__container {
  height: 100%;
  display: flex;
}
.why__content {
  display: flex;
  z-index: $z-services-content;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.why__slider {
  position: relative;
  width: 100%;
  min-height: rem(264px);
  @include desctop {
  }
}
.why__list {
  width: 400%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.why__item {
  display: flex;
  position: relative;
  width: 25%;
  height: 100%;
  flex-direction: column;
  text-align: center;
}
.why__title {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 89%;
  justify-content: center;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  text-align: center;
  white-space: initial;
  background: url("../../img/bg/bg-mask.png");
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @include roboto(black);
  font-size: rem(80px);
  @include desctop {
    font-size: rem(50px);
  }
}