.bounce {
  position: absolute;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 25px 45px rgba(0,0,0,0.05);

  &-blur {
    &-1 {
      background-color: $bounce-turquoise;
      filter: blur(rem(20px));
      width: rem(170px);
      height: rem(170px);
      bottom: -17%;
      left: 20%;
      z-index: $z-move-bounce-blur-1;
      @include desctop {
        filter: blur(rem(13px));
        width: rem(120px);
        height: rem(120px);
        bottom: -5%;
        left: 20%;
      }
      @include tablets {
        width: rem(80px);
        height: rem(80px);
      }
    }
    &-2 {
      background-color: $bounce-yellow;
      filter: blur(rem(60px));
      width: rem(360px);
      height: rem(360px);
      bottom: 46%;
      left: 27%;
      z-index: $z-move-bounce-blur-2;
      @include desctop {
        filter: blur(rem(20px));
        width: rem(200px);
        height: rem(200px);
        bottom: 48%;
        left: 34%;
        opacity: .4;
      }
      @include tablets {
        width: rem(160px);
        height: rem(160px);
        bottom: 48%;
      }
    }
    &-3 {
      background-color: $bounce-lilac;
      filter: blur(rem(40px));
      width: rem(230px);
      height: rem(230px);
      bottom: 10%;
      left: 52%;
      z-index: $z-move-bounce-blur-3;
      @include desctop {
        filter: blur(rem(30px));
        width: rem(160px);
        height: rem(160px);
        bottom: 10%;
        left: 52%;
      }
      @include tablets {
        width: rem(100px);
        height: rem(100px);
      }
    }
  }
  &-img {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("./../../img/bg/jupiter.png");
    }
    @include desctop {
      &::after {
        background-image: url("./../../img/bg/jupiter_1300px.png");
      }
    }
    @include note {
      &::after {
        background-image: url("./../../img/bg/jupiter_1024px.png");
      }
    }
    @include tablets {
      &::after {
        background-image: url("./../../img/bg/jupiter_768px.png");
      }
    }
    @include phones {
      &::after {
        background-image: url("./../../img/bg/jupiter_480px.png");
      }
    }
    &-1 {
      width: rem(42px);
      height: rem(42px);
      bottom: 8%;
      left: 88%;
      z-index: $z-move-bounce-img-1;
      &::after {
        background-position: 37% 73%;
        background-size: 242% 405%;
        -webkit-transform: rotate(185deg);
        -ms-transform: rotate(185deg);
        transform: rotate(34deg);
      }
      @include desctop {
        width: rem(22px);
        height: rem(22px);
        bottom: 13%;
        left: 89%;
      }
      &--hamburger {
        bottom: 6%;
        left: 97%;
        width: rem(40px);
        height: rem(40px);
        @include desctop {
          width: rem(30px);
          height: rem(30px);
        }
      }
    }
    &-2 {
      width: rem(67px);
      height: rem(67px);
      bottom: 84%;
      left: 79%;
      z-index: $z-move-bounce-img-2;
      &::after {
        background-position: 37% 73%;
        background-size: 242% 405%;
        transform: rotate(185deg);
      }
      @include desctop {
        width: rem(42px);
        height: rem(42px);
        bottom: 88%;
        left: 82%;
      }
      @include note {
        width: rem(32px);
        height: rem(32px);
      }
      @include tablets {
        left: 78%;
      }
    }
    &-3 {
      width: rem(120px);
      height: rem(120px);
      bottom: 36%;
      left: 60%;
      z-index: $z-move-bounce-img-3;
      &::after {
        background-position: 24% 73%;
        background-size: 198% 219%;
        transform: rotate(185deg);
      }
      @include desctop {
        bottom: 34%;
        left: 56%;
        width: rem(90px);
        height: rem(90px);
      }
      @include tablets {
        width: rem(60px);
        height: rem(60px);
      }
      &--services {
        width: rem(212px);
        height: rem(212px);
        // bottom: 61%;
        // left: 75%;
        bottom: 53%;
        left: 75%;
        background: linear-gradient(180deg, rgba(91, 36, 122, 0.5) 0%, rgba(27, 206, 223, 0.5) 100%);
        &::after {
          display: none;
        }
        @include desctop {
          width: rem(140px);
          height: rem(140px);
          bottom: 44%;
          left: 85%;
        }
        @include note {
          width: rem(100px);
          height: rem(100px);
          bottom: 44%;
          left: 90%;
        }
      }
    }
    &-4 {
      width: rem(266px);
      height: rem(266px);
      bottom: 51%;
      left: 68%;
      z-index: $z-move-bounce-img-4;
      &::after {
        background-position: 51% 37%;
        background-size: 324% 193%;
        transform: rotate(4deg);
      }
      @include desctop {
        width: rem(170px);
        height: rem(170px);
        bottom: 51%;
        left: 68%;
      }
      @include tablets {
        width: rem(100px);
        height: rem(100px);
        bottom: 53%;
        left: 72%;
      }
      &--services {
        width: rem(348px);
        height: rem(348px);
        // left: 64%;
        // top: 60%;
        left: 64%;
        top: 64%;
        background: linear-gradient(180deg, rgba(91, 36, 122, 0.5) 0%, rgba(27, 206, 223, 0.5) 100%);
        &::after {
          display: none;
        }
      }
    }
    &-5 {
      width: rem(594px);
      height: rem(594px);
      bottom: 78%;
      left: 30%;
      opacity: .8;
      z-index: $z-move-bounce-img-5;
      &::after {
        background-size: 130% 122%;
        transform: rotate(160deg);
        background-position-x: 59%;
        background-position-y: 114%;
      }
      @include desctop {
        width: rem(394px);
        height: rem(394px);
        bottom: 84%;
        left: 37%;
      }
      @include tablets {
        width: rem(264px);
        height: rem(264px);
        bottom: 82%;
        left: 32%;
      }
      &--services {
        width: rem(560px);
        height: rem(560px);
        left: 12%;
        // top: 20%;
        top: 30%;
        background: linear-gradient(0deg, rgba(91, 36, 122, 0.5) 0%, rgba(27, 206, 223, 0.5) 100%);
        &::after {
          display: none;
        }
        @include desctop {
          width: rem(324px);
          height: rem(324px);
          bottom: 58%;
          left: 17%;
        }
        @include note {
          width: rem(244px);
          height: rem(244px);
          bottom: 58%;
          left: 17%;
        }
      }
    }
  }
}




.bounce {
  &-0 {
    &--service {
      width: rem(101px);
      height: rem(101px);
      left: 22%;
      top: 89%;
      background: linear-gradient(180deg, rgba(91, 36, 122, 0.5) -2%, rgba(27, 206, 223, 0.5) 100%);
    }
  }
  &-1 {
    &--service {
      width: rem(220px);
      height: rem(220px);
      left: 10%;
      top: 62%;
      background: linear-gradient(180deg, rgba(91, 36, 122, 0.5) -2%, rgba(27, 206, 223, 0.5) 100%);
    }
  }
  &-2 {
    &--service {
      width: rem(281px);
      height: rem(281px);
      left: 31%;
      top: 72%;
      background: linear-gradient(180deg, rgba(91, 36, 122, 0.5) -2%, rgba(27, 206, 223, 0.5) 100%);
    }
  }
  &-3 {
    &--service {
      width: rem(348px);
      height: rem(348px);
      left: 62%;
      top: 39%;
      background: linear-gradient(180deg, rgba(91, 36, 122, 0.5) 0%, rgba(27, 206, 223, 0.5) 100%);
    }
  }
  &-4 {
    &--service {
      width: rem(420px);
      height: rem(420px);
      left: 59%;
      top: 83%;
      background: linear-gradient(180deg, rgba(91, 36, 122, 0.5) 0%, rgba(27, 206, 223, 0.5) 100%);
      // opacity: .6;
    }
  }
  &-5 {
    &--service {
      width: rem(593px);
      height: rem(593px);
      left: 11%;
      top: 22%;
      background: linear-gradient(326deg, rgba(91, 36, 122, 0.5) 10%, rgba(27, 206, 223, 0.5) 100%);
      // opacity: .6;
    }
  }
}