.display, .swiper-pag {
  color: $black;
  z-index: $z-display;
}
.display__item, .swiper-pagination-bullet {
  background-color: transparent;
  width: rem(56px);
  height: rem(56px);
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  outline: none;
  &::before {
    content: "";
    position: absolute;
    width: rem(6px);
    height: rem(6px);
    display: block;
    border-radius: 50%;
    background-color: $black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity .6s;
    transition: scale .6s;
  }
  &::after {
    content: "";
    position: absolute;
    width: rem(32px);
    height: rem(32px);
    display: block;
    border-radius: 50%;
    border: 1px solid $black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
    transition: .6s;
    @include desctop {
      width: rem(26px);
      height: rem(26px);
    }
    @include tablets {
      @media screen and (min-height: 660px) {
        width: rem(36px);
        height: rem(36px);
      }
    }
    @include phones {
      width: rem(26px);
      height: rem(26px);
      @media screen and (min-height: 820px) {
        width: rem(34px);
        height: rem(34px);
      }
      @media screen and (min-height: 980px) {
        width: rem(44px);
        height: rem(44px);
      }
    }
  }
  &:hover {
    &::before {
      opacity: 1;
      @include note {
        opacity: 0;
      }
    }
    &::after {
      // transform: translate(-50%,-50%) scale(1.2);
      @include note {
        transform: translate((-50%,-50%) scale(1));

      }
    }
  }
  @include desctop {
    width: rem(40px);
    height: rem(40px);
    font-size: rem(30px);
  }
  @include tablets {
    @media screen and (min-height: 660px) {
      width: rem(46px);
      height: rem(46px);
    }
  }
  @include phones {
    width: rem(40px);
    height: rem(40px);
    @media screen and (min-height: 820px) {
      width: rem(50px);
      height: rem(50px);
    }
    @media screen and (min-height: 980px) {
      width: rem(60px);
      height: rem(60px);
    }
  }
  &.swiper-pagination-bullet-active  {
    &::before {
      opacity: 1;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}