.header {
  position: absolute;
  z-index: $z-header;
  left: 0;
  // top: 2vh;
  top: 6vh;
  width: 100%;
  color: $black;
  &--service {
    & .header__container {
      @media screen and (min-width: 2300px) {
        max-width: 84%;
      }
    }
  }
  @include desctop {
    top: 2%;
  }
  @include note {
    top: 3%;
  }
  @include tablets {
    top: 2%;
    @media screen and (min-height: 1140px) {
      top: 4%;
    }
  }
  @include phones {
    top: 2%;
  }
  &--forma {
    & .header__container {
      min-width: 97%;
    }
    @media screen and (min-height: 700px) and (max-height:900px) {
      top: 3vh;
    }
    @media screen and (min-width: 1321px) and (max-width: 1500px) {
      & .header__container {
        width: 98%;
      }
      @media screen and (min-height: 500px) and (max-height: 700px) {
        top: 2vh
      }
    }
    @media screen and (min-width: 1501px) and (max-width: 1700px) {
      & .header__container {
        width: 98%;
      }
      @media screen and (min-height: 600px) and (max-height: 700px) {
        top: 2vh
      }
    }
    @media screen and (min-width: 1701px) and (max-width: 1840px) {
      & .header__container {
        width: 98%;
      }
      @media screen and (min-height: 600px) and (max-height: 700px) {
        top: 2vh
      }
    }
  }
  &--carbag {
    & .header__container {
      min-width: 95%;
    }
    color: $white;
    .hamburger-menu__icon {
      stroke: $white;
      stroke-width: 2px;
    }
    & .header__logo {
      filter:  brightness(0) invert(1);
      // mix-blend-mode: lighten;
      // filter: invert(100%);
      // -webkit-filter: invert(100%);
    }
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;

}
.header__content {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  @include phones {
    width: 94%;
  }
}
.header__left {
  display: flex;
  flex: 1;
}
.header__hamburger-menu {
  margin-right: rem(36px);
  @include note {
    margin-right: rem(20px);
  }
  
}
.header__logo {
  width: rem(212px);
  height: rem(61px);
  @include desctop {
    width: rem(170px);
    height: rem(45px);
  }
  @include note {
    width: rem(150px);
    height: rem(40px);
  }
  @include tablets {
    width: rem(120px);
    height: rem(36px);
    @media screen and (min-height: 1140px) {
      height: rem(72px);
      width: rem(220px);
    }
  }
  @include phones {
    width: rem(120px);
    height: rem(36px);
    @media screen and (min-height: 940px) {
      width: rem(170px);
      height: rem(52px);
    }
  }
}
.header__right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}