.language {
  @include roboto(normal);
  font-style: normal;
  font-weight: normal;
  font-size: rem(18px);
  text-transform: uppercase;
  line-height: 1;
  color: currentColor;
  display: flex;
  align-items: center;
  @media screen and (min-width: 2200px) {
    font-size: rem(26px);
  }
  @include note {
    font-size: rem(16px);
  }
  @include note {
    font-size: rem(14px);
  }
  @include tablets {
    @media screen and (min-height: 1140px) {
      font-size: rem(24px);
    }
  }
  @include phones {
    font-size: rem(14px);
    @media screen and (min-height: 940px) {
      font-size: rem(24px);
    }
  }
}
.language__item {
  display: flex;
  text-align: center;
  &::after {
    content: "|";
    display: block;
    color: currentColor;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
  & a {
    cursor: pointer;
  }
}