.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include roboto(bold);
  font-size: rem(24px);
  text-transform: uppercase;
  @include desctop {
    font-size: rem(16px);
  }
  @include tablets {
    font-size: rem(14px);
  }
  &--footer {
    padding: rem(28px) 0px rem(75px);
    @include note {
      padding: rem(20px) 0px rem(55px);
    }
    & .nav__list {
      width: 50%;
      @include tablets {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    & .nav__item {
      width: 50%;
      text-align: left;
      
      @include tablets {
        width: 30%;
        text-align: center;
      }
    }
    & .nav__ref {
      position: relative;
      opacity: 1;
      transition: opacity .6s;
      color: $black;
      &::after {
        content: attr(data-text-nav-footer);
        -webkit-text-stroke: 1px transparent;
        position: absolute;
        color: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../img/bg/jupiter.png");
        background-size: cover;
        background-position: 0% 52%;
        -webkit-background-clip: text;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity .6s;
        z-index: 40;
        @include desctop {
          background-image: url("../../img/bg/jupiter_1300px.png");
        }
        @include note {
          background-image: url("../../img/bg/jupiter_1024px.png");
        }
        @include tablets {
          background-image: url("../../img/bg/jupiter_768px.png");
        }
        @include phones {
          background-image: url("../../img/bg/jupiter_480px.png");
        }
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
    @include tablets {
      padding: rem(8px) 0px rem(35px);
      font-size: rem(16px);
      @media screen and (min-height: 540px) {
        font-size: rem(20px);
      }
    }
    @include phones {
      font-size: rem(16px);
      @media screen and (min-height: 820px) {
        font-size: rem(18px);
      }
      @media screen and (min-height: 980px) {
        font-size: rem(24px);
      }
    }
  }
  &--hamburger {
    width: 80%;
    & .nav__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    & .nav__item {
      // display: flex;
      margin-bottom: 3%;
      &:last-child {
        margin-bottom: 0;
      }
    }
    & .nav__ref {
     
      @include roboto(black);
      font-size: rem(100px);
      line-height: 1.2;
      position: relative;
      opacity: 1;
      transition: opacity .6s;
      color: $black;
      @media screen and (min-width: 1701px) and (max-width: 1840px) {
        font-size: rem(80px);
      }
      @media screen and (min-width: 1501px) and (max-width: 1700px) {
        font-size: rem(73px);
      }
      @media screen and (min-width: 1321px) and (max-width: 1500px) {
        font-size: rem(68px);
      }
      @include desctop {
        font-size: rem(64px);
      }
      @include note {
        font-size: rem(62px);
      }
      @include tablets {
        font-size: rem(48px);
      }
      @include phones {
        font-size: rem(38px);
      }
      // &::before {
      //   content: "";
      //   top: 48%;
      //   left: 0%;
      //   transform: translate(-47%,-50%);
      //   position: absolute;
      //   width: rem(162px);
      //   height: rem(6px);
      //   background: linear-gradient(90deg, #FBE6E6 50%, $black 50%); 
      //   opacity: 0;
      //   transition: opacity .6s;
      //   z-index: 2;
      // }
      &::after {
        content: attr(data-text-hamb);
        -webkit-text-stroke: 3px transparent;
        position: absolute;
        color: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../img/bg/jupiter.png");
        background-size: cover;
        background-position: 0% 52%;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity .6s;
        // z-index: 40;
        @include desctop {
          background-image: url("../../img/bg/jupiter_1300px.png");
        }
        @include note {
          background-image: url("../../img/bg/jupiter_1024px.png");
        }
        @include tablets {
          background-image: url("../../img/bg/jupiter_768px.png");
        }
        @include phones {
          background-image: url("../../img/bg/jupiter_480px.png");
        }
      }
      &:hover {
        // &::before {
        //   opacity: 1;
        // }
        &::after {
      // transition: opacity .6s;
      opacity: 1;
        }
      }
    }
  }
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav__item {
  line-height: 2.6;
}
.nav__ref {
  cursor: pointer;
  display: inline-flex;
  height: 100%;
  outline: none;
  &:link {
    -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent;
background-color: $white;
  }
}