@mixin keyframesBounBlur1($left,$bottom) {
  animation: bounceBlur1 30s linear infinite;
  @keyframes bounceBlur1 {
    5% {
      // left: $left+13%;
      // bottom: $bottom+1%;
    }
    10% {
  
    }
    15% {
      // left: $left+65%;
      // bottom: $bottom+80%;
    }
    20% {
     
    }
    25% {
     
    }
    30% {
  
    }
    35% {
      bottom: $bottom+40%;
      left: $left - 10%;
    }
    40% {
      // bottom: $bottom+140%;
      // left: $left+60%;
    }
    45% {
  
    }
    50% {
      // left: $left - 5%;
      // bottom: $bottom + 35%;
    }
    55% {
  
    }
    60% {
      left: $left - 15%;
      bottom: $bottom + 75%;
    }
    65% {
  
    }
    70% {
  
    }
    75% {
      left: $left - 5%;
      bottom: $bottom+58%;
    }
    80% {
      
    }
    85% {
      // left: $left - 65%;
      // bottom: $bottom+8%;
    }
    90% {
  
    }
    95% {
      
    }
    100% {
  
    }
  }
}
@mixin keyframesBounBlur2($left,$bottom) {
  animation: bounceBlur2 35s linear infinite;
  @keyframes bounceBlur2 {
    5% {
      // left: $left+13%;
      // bottom: $bottom+1%;
    }
    10% {
  
    }
    15% {
      // left: $left+65%;
      // bottom: $bottom+80%;
    }
    20% {
     
    }
    25% {
      bottom: $bottom - 40%;
      left: $left+60%;
    }
    30% {
  
    }
    35% {
  
    }
    40% {
      // bottom: $bottom+140%;
      // left: $left+60%;
    }
    45% {
  
    }
    50% {
      // left: $left - 5%;
      // bottom: $bottom + 35%;
    }
    55% {
  
    }
    60% {
      
    }
    65% {
      left: $left - 85%;
      bottom: $bottom - 55%;
    }
    70% {
      left: $left - 185%;
      bottom: $bottom - 55%;
    }
    75% {
      left: $left - 185%;
      bottom: $bottom + 185%;
    }
    80% {
      left: $left + 25%;
      bottom: $bottom + 185%;
    }
    85% {
      left: $left+5%;
      bottom: $bottom - 28%;
    }
    90% {
  
    }
    95% {
      
    }
    100% {
  
    }
  }
}
@mixin keyframesBounBlur3($left,$bottom) {
  animation: bounceBlur3 45s linear infinite;
  @keyframes bounceBlur3 {
    5% {
      // left: $left+13%;
      // bottom: $bottom+1%;
    }
    10% {
  
    }
    15% {
      // left: $left+65%;
      // bottom: $bottom+80%;
    }
    20% {
     
    }
    25% {
      bottom: $bottom+140%;
      left: $left+60%;
    }
    30% {
  
    }
    35% {
  
    }
    40% {
      // bottom: $bottom+140%;
      // left: $left+60%;
    }
    45% {
  
    }
    50% {
      // left: $left - 5%;
      // bottom: $bottom + 35%;
    }
    55% {
  
    }
    60% {
      left: $left - 85%;
      bottom: $bottom - 55%;
    }
    65% {
  
    }
    70% {
      left: $left - 55%;
      bottom: $bottom - 55%;
    }
    75% {
      left: $left - 25%;
      bottom: $bottom - 85%;
    }
    80% {
      left: $left - 5%;
      bottom: $bottom - 55%;
    }
    85% {
      left: $left+5%;
      
    }
    90% {
  
    }
    95% {
      bottom: $bottom - 28%;
    }
    100% {
  
    }
  }
}



@mixin keyframesBounImg1($left,$bottom) {
  animation: bounceImg1 60s linear infinite;
  @keyframes bounceImg1 {
    5% {
      // left: $left+13%;
      // bottom: $bottom+1%;
    }
    10% {
  
    }
    15% {
      // left: $left+65%;
      // bottom: $bottom+80%;
    }
    20% {
     
    }
    25% {
     
    }
    30% {
  
    }
    35% {
      // bottom: $bottom+40%;
      // left: $left - 10%;
    }
    40% {
      bottom: $bottom+24%;
      left: $left - 80%;
    }
    45% {
      // left: $left - 75%;
    }
    50% {
      // left: $left - 5%;
      // bottom: $bottom + 35%;
    }
    55% {
  
    }
    60% {
      left: $left - 85%;
      bottom: $bottom + 65%;
    }
    65% {
      // left: $left - 145%;
      // bottom: $bottom -105%;
    }
    70% {
      left: $left - 105%;
      bottom: $bottom +145%;
    }
    75% {
      left: $left - 122%;
      bottom: $bottom -55%;
    }
    80% {
      left: $left - 65%;
      bottom: $bottom - 5;
    }
    85% {
      // 
    }
    90% {
  
    }
    95% {
      
    }
    100% {
  
    }
  }
}
@mixin keyframesBounImg2($left,$bottom) {
  animation: bounceImg2 60s linear infinite;
  @keyframes bounceImg2 {
    5% {
      // left: $left+13%;
      // bottom: $bottom+1%;
    }
    10% {
  
    }
    15% {
      // left: $left+65%;
      // bottom: $bottom+80%;
    }
    20% {
     
    }
    25% {
     
    }
    30% {
  
    }
    35% {
      // bottom: $bottom+40%;
      // left: $left - 10%;
    }
    40% {
      // bottom: $bottom+140%;
      // left: $left+60%;
    }
    45% {
      left: $left - 75%;
    }
    50% {
      // left: $left - 5%;
      // bottom: $bottom + 35%;
    }
    55% {
  
    }
    60% {
      left: $left - 145%;
      bottom: $bottom - 115%;
    }
    65% {
      left: $left - 145%;
      bottom: $bottom -105%;
    }
    70% {
      left: $left - 105%;
      bottom: $bottom +145%;
    }
    75% {
      left: $left + 22%;
      bottom: $bottom+145%;
    }
    80% {
      
    }
    85% {
      // left: $left - 65%;
      // bottom: $bottom+8%;
    }
    90% {
  
    }
    95% {
      
    }
    100% {
  
    }
  }
}
@mixin keyframesBounImg3($left,$bottom) {
  animation: bounceImg3 20s linear infinite;
  @keyframes bounceImg3 {
    5% {
      // left: $left+13%;
      // bottom: $bottom+1%;
    }
    10% {
  
    }
    15% {
      left: $left+65%;
      bottom: $bottom+20%;
    }
    20% {
     
    }
    25% {
      bottom: $bottom+60%;
      left: $left+80%;
    }
    30% {
  
    }
    35% {
  
    }
    40% {
      // bottom: $bottom+140%;
      // left: $left+60%;
    }
    45% {
  
    }
    50% {
      left: $left - 5%;
      bottom: $bottom + 35%;
    }
    55% {
  
    }
    60% {
      left: $left - 15%;
      bottom: $bottom + 5%;
    }
    65% {
  
    }
    70% {
  
    }
    75% {
      left: $left - 5%;
      bottom: $bottom+8%;
    }
    80% {
      
    }
    85% {
      // left: $left - 65%;
      // bottom: $bottom+8%;
    }
    90% {
  
    }
    95% {
      
    }
    100% {
  
    }
  }
}
@mixin keyframesBounImg4($left,$bottom) {
  animation: bounceImg4 50s linear infinite;
  @keyframes bounceImg4 {
    5% {
      // left: $left+13%;
      // bottom: $bottom+1%;
    }
    10% {
  
    }
    15% {
      // left: $left+65%;
      // bottom: $bottom+80%;
    }
    20% {
     
    }
    25% {
     
    }
    30% {
  
    }
    35% {
      // bottom: $bottom+40%;
      // left: $left - 10%;
    }
    40% {
      bottom: $bottom+85%;
      left: $left - 120%;
    }
    45% {
      bottom: $bottom+75%;
    }
    50% {
      // left: $left - 5%;
      // bottom: $bottom + 35%;
    }
    55% {
  
    }
    60% {
      // left: $left - 145%;
      // bottom: $bottom - 115%;
    }
    65% {
      // left: $left - 145%;
      // bottom: $bottom -105%;
    }
    70% {
      left: $left - 15%;
      bottom: $bottom - 40%;
    }
    75% {
     
    }
    80% {
      left: $left + 22%;
      bottom: $bottom - 25%;
    }
    85% {
      // left: $left - 65%;
      // bottom: $bottom+8%;
    }
    90% {
  
    }
    95% {
      
    }
    100% {
  
    }
  }
  
}
@mixin keyframesBounImg5($left,$bottom) {
  animation: bounceImg5 20s linear infinite;
  @keyframes bounceImg5 {
    5% {
      // left: $left+13%;
      // bottom: $bottom+1%;
    }
    10% {
  
    }
    15% {
      // left: $left+65%;
      // bottom: $bottom+80%;
    }
    20% {
     
    }
    25% {
     
    }
    30% {
  
    }
    35% {
      // bottom: $bottom+40%;
      // left: $left - 10%;
    }
    40% {
      // bottom: $bottom+140%;
      // left: $left+60%;
    }
    45% {
      left: $left - 75%;
    }
    50% {
      // left: $left - 5%;
      // bottom: $bottom + 35%;
    }
    55% {
  
    }
    60% {
      left: $left - 145%;
      bottom: $bottom - 115%;
    }
    65% {
      left: $left - 145%;
      bottom: $bottom -105%;
    }
    70% {
      left: $left - 105%;
      bottom: $bottom +145%;
    }
    75% {
      left: $left + 22%;
      bottom: $bottom+145%;
    }
    80% {
      
    }
    85% {
      // left: $left - 65%;
      // bottom: $bottom+8%;
    }
    90% {
  
    }
    95% {
      
    }
    100% {
  
    }
  }
  
}

















@keyframes bounceBlur2 {
  5% {
    bottom: 33%;
    left: 29%;
  }
  10% {

  }
  15% {

  }
  20% {

  }
  25% {

  }
  30% {

  }
  35% {

  }
  40% {

  }
  45% {

  }
  50% {
    
  }
  55% {

  }
  60% {

  }
  65% {

  }
  70% {

  }
  75% {

  }
  80% {

  }
  85% {

  }
  90% {

  }
  95% {
    
  }
  100% {

  }
}
@keyframes bounceBlur3 {
  5% {
    bottom: 19%;
    left: 45%;
  }
  10% {

  }
  15% {

  }
  20% {

  }
  25% {

  }
  30% {

  }
  35% {

  }
  40% {

  }
  45% {

  }
  50% {
    
  }
  55% {

  }
  60% {

  }
  65% {

  }
  70% {

  }
  75% {

  }
  80% {

  }
  85% {

  }
  90% {

  }
  95% {
    
  }
  100% {

  }
}
@keyframes bounceImg1 {
  5% {
    bottom: 12%;
    left: 98%;
  }
  10% {

  }
  15% {

  }
  20% {

  }
  25% {

  }
  30% {

  }
  35% {

  }
  40% {

  }
  45% {

  }
  50% {
    
  }
  55% {

  }
  60% {

  }
  65% {

  }
  70% {

  }
  75% {

  }
  80% {

  }
  85% {

  }
  90% {

  }
  95% {
    
  }
  100% {

  }
}
@keyframes bounceImg2 {
  5% {
    bottom: 88%;
    left: 75%;
  }
  10% {

  }
  15% {

  }
  20% {

  }
  25% {

  }
  30% {

  }
  35% {

  }
  40% {

  }
  45% {

  }
  50% {
    
  }
  55% {

  }
  60% {

  }
  65% {

  }
  70% {

  }
  75% {

  }
  80% {

  }
  85% {

  }
  90% {

  }
  95% {
    
  }
  100% {

  }
}
@keyframes bounceImg3 {
  5% {
    bottom: 36%;
    left: 49%;
  }
  10% {

  }
  15% {

  }
  20% {

  }
  25% {

  }
  30% {

  }
  35% {

  }
  40% {

  }
  45% {

  }
  50% {
    
  }
  55% {

  }
  60% {

  }
  65% {

  }
  70% {

  }
  75% {

  }
  80% {

  }
  85% {

  }
  90% {

  }
  95% {
    
  }
  100% {

  }
}
@keyframes bounceImg4 {
  5% {
    bottom: 64%;
    left: 57%;
  }
  10% {

  }
  15% {

  }
  20% {

  }
  25% {

  }
  30% {

  }
  35% {

  }
  40% {

  }
  45% {

  }
  50% {
    
  }
  55% {

  }
  60% {

  }
  65% {

  }
  70% {

  }
  75% {

  }
  80% {

  }
  85% {

  }
  90% {

  }
  95% {
    
  }
  100% {

  }
}
@keyframes bounceImg5 {
  5% {
    bottom: 74%;
    left: 9%;
  }
  10% {

  }
  15% {

  }
  20% {

  }
  25% {

  }
  30% {

  }
  35% {

  }
  40% {

  }
  45% {

  }
  50% {
    
  }
  55% {

  }
  60% {

  }
  65% {

  }
  70% {

  }
  75% {

  }
  80% {

  }
  85% {

  }
  90% {

  }
  95% {
    
  }
  100% {

  }
}