@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap&subset=cyrillic-ext");

@mixin roboto($weight: normal) {
	font-family: 'Roboto', Helvetica, sans-serif;

	@if $weight == normal {
		font-weight: 400;
	}
	
	@if $weight == bold {
		font-weight: 700;
	}

	@if $weight == black {
		font-weight: 900;
	}
}